$primary-color:#3482c2;
$secondary-color:#2a293b;
$background-color: #ebebeb;
$background-color-darker: #dbdbdb;
$text-color:black;
$shadow: 5px 5px 10px #e4e4e4, 
             -5px -5px 10px #f2f2f2;